Repository ampproject/amphtml, pull requests merged in 2022-06, with the labels that each got.

#38272 ❄️ 🐛 [amp-story-shopping] Remove animations on visual tests
  examples/visual-tests/amp-story/amp-story-shopping-landscape.html
  examples/visual-tests/amp-story/amp-story-shopping-lang-de.html
  examples/visual-tests/amp-story/amp-story-shopping-rtl.html
  examples/visual-tests/amp-story/amp-story-shopping.html
Labels: P1: High Priority, Related to: Flaky Tests, WG: stories

#38277 Add xssi-prefix to form method=POST for AMP & Ads
  validator/validator-main.protoascii
Labels: WG: caching

#38255 amp-analytics Gfksensic: removed p param from request
  extensions/amp-analytics/0.1/test/vendor-requests.json
  extensions/amp-analytics/0.1/vendors/gfksensic.json
Labels: WG: analytics
