Repository ampproject/amphtml, pull requests merged in 2023-08, with the labels that each got.

#39349 add Sark to European Economic Area list
  extensions/amp-geo/0.1/amp-geo-presets.js
Labels: P1: High Priority

#39283 Removed CID param from the request
  extensions/amp-analytics/0.1/test/vendor-requests.json
  extensions/amp-analytics/0.1/vendors/gfksensic.json
Labels: WG: analytics, P2: Soon, Component: amp-analytics

#38028 🐛 Add image-related tags to validator spec `descendant_tag_list` for `amp-mega-menu`
  extensions/amp-mega-menu/validator-amp-mega-menu.protoascii
Labels: WG: caching, Component: amp-mega-menu
