Repository ampproject/amphtml, changes with the owners that CODEOWNERS names for each.
All owners: @cramforce,, @dvoytenko,, @jridgewell, @ampproject/validator, @lannka,, @zhouyx, @erwinmombay,, @cramforce, @jrozier, @camelburrito,, @lannka, @ampproject/runtime,, @powdercloud,, @Gregable,, @honeybadgerdontcare, @ampproject/a4a, @dvoytenko, @trodrigues, @camelburrito, @zhouyx,, @oliy, @ampproject/a4a,, @szach, @avimehta,, @aghassemi,, @alanorozco,, @mrsufgi, @aghassemi, @tlong2, @choumx,, @kmh287, @DarXector, @mister-ben, @alanorozco, @zeno,, @ymschaap, @eduardogoncalves, @cvializ, @erwinmombay, @koshka, @levidurfee,, @unbug, @techhtml, @jpettitt,, @src-code, @merty, @pablos1, @itaykinnrot, @muxin, @neko-fire, @yevheniiminin, @mityaha, @kentbrew, @buzzdan, @mikepmtl, @samiamorwas, @ithinkihaveacat,, @RyanCopley, @asap, @Em-PredragMilosevic, @chenshay, @niallkennedy

Report rtv version in errors
  src/error.js
Owners: @dvoytenko,, @jridgewell

Skip failing tests
  test/integration/test-video-manager.js
  test/integration/test-video-players-helper.js
  test/integration/test-visibility-states.js
Owners: @cramforce,, @dvoytenko,, @jridgewell

attempts to make affordance
  extensions/amp-compare-slider/0.1/amp-compare-slider.css
  extensions/amp-compare-slider/0.1/amp-compare-slider.js
Owners: @cramforce,, @dvoytenko,, @jridgewell

fixed test
  extensions/amp-compare-slider/0.1/test/test-amp-compare-slider.js
Owners: @cramforce,, @dvoytenko,, @jridgewell

ifNewChrome
  extensions/amp-bind/0.1/test/integration/test-bind-impl.js
  extensions/amp-viewer-integration/0.1/test/integration/test-amp-viewer-integration.js
  extensions/amp-viewer-integration/0.1/test/integration/test-amp-webview-viewer-integration.js
  extensions/amp-viewer-integration/0.1/test/integration/test-viewer-initiated-handshake.js
  test/_init_tests.js
  test/integration/test-3p-frame.js
  test/integration/test-3p-nameframe.js
  test/integration/test-amp-bind.js
  test/integration/test-errors.js
  test/integration/test-position-observer.js
  test/integration/test-video-manager.js
  test/integration/test-video-players-helper.js
  test/integration/test-visibility-states.js
Owners: @cramforce,, @dvoytenko,, @jridgewell, @ampproject/runtime,, @ampproject/validator

Skip failing tests
  extensions/amp-viewer-integration/0.1/test/integration/test-amp-viewer-integration.js
  extensions/amp-viewer-integration/0.1/test/integration/test-amp-webview-viewer-integration.js
  extensions/amp-viewer-integration/0.1/test/integration/test-viewer-initiated-handshake.js
  test/integration/test-video-manager.js
  test/integration/test-video-players-helper.js
  test/integration/test-visibility-states.js
Owners: @cramforce,, @dvoytenko,, @jridgewell

Issue ID
  extensions/amp-viewer-integration/0.1/test/integration/test-amp-viewer-integration.js
  extensions/amp-viewer-integration/0.1/test/integration/test-amp-webview-viewer-integration.js
  extensions/amp-viewer-integration/0.1/test/integration/test-viewer-initiated-handshake.js
  test/integration/test-video-manager.js
  test/integration/test-video-players-helper.js
  test/integration/test-visibility-states.js
Owners: @cramforce,, @dvoytenko,, @jridgewell

Viewer tests fail in beforeEach
  extensions/amp-viewer-integration/0.1/test/integration/test-amp-viewer-integration.js
  extensions/amp-viewer-integration/0.1/test/integration/test-amp-webview-viewer-integration.js
  extensions/amp-viewer-integration/0.1/test/integration/test-viewer-initiated-handshake.js
Owners: @cramforce,, @dvoytenko,, @jridgewell

clean up format
  SUPPORT.md
Owners: @cramforce,, @dvoytenko,, @jridgewell

Deprecate skipSauceLabs for integration tests, since they only ever run on sauce labs (#10972)
  extensions/amp-bind/0.1/test/integration/test-bind-impl.js
  extensions/amp-viewer-integration/0.1/test/integration/test-amp-viewer-integration.js
  extensions/amp-viewer-integration/0.1/test/integration/test-amp-webview-viewer-integration.js
  extensions/amp-viewer-integration/0.1/test/integration/test-viewer-initiated-handshake.js
  test/_init_tests.js
  test/integration/test-3p-frame.js
  test/integration/test-3p-nameframe.js
  test/integration/test-amp-bind.js
  test/integration/test-errors.js
  test/integration/test-position-observer.js
  test/integration/test-video-manager.js
  test/integration/test-video-players-helper.js
  test/integration/test-visibility-states.js
Owners: @cramforce,, @dvoytenko,, @jridgewell, @ampproject/runtime,, @ampproject/validator

link to SUPPORT.md
  CONTRIBUTING.md
Owners: @cramforce,, @dvoytenko,, @jridgewell

Requested change
  src/event-helper-listen.js
  test/functional/test-event-helper.js
Owners: @dvoytenko,, @jridgewell, @cramforce,

fix wording
  CONTRIBUTING.md
Owners: @cramforce,, @dvoytenko,, @jridgewell

update yarn.lock
  build-system/pr-check.js
  yarn.lock
Owners: @erwinmombay,, @cramforce, @cramforce,, @dvoytenko,, @jridgewell

exd
  extensions/amp-analytics/0.1/test/vendor-requests.json
  extensions/amp-analytics/0.1/vendors.js
Owners: @cramforce,, @dvoytenko,, @jridgewell

fix typo
  SUPPORT.md
Owners: @cramforce,, @dvoytenko,, @jridgewell

Make the controlsList lowercase in the validator spec but add a test ensuring that it also works with camelCase (just like it does for SVG attrs).
  extensions/amp-audio/0.1/test/validator-amp-audio.html
  extensions/amp-audio/validator-amp-audio.protoascii
Owners: @cramforce,, @dvoytenko,, @jridgewell, @aghassemi

Replace v with rtv
  src/error.js
Owners: @dvoytenko,, @jridgewell

Make the controlsList lowercase in the validator spec but add a test (#10976)
  extensions/amp-audio/0.1/test/validator-amp-audio.html
  extensions/amp-audio/validator-amp-audio.protoascii
Owners: @cramforce,, @dvoytenko,, @jridgewell, @aghassemi

Amp-compare-slider: Brand New Component Skeleton (#10909)
  examples/amp-compare-slider.amp.html
  extensions/amp-compare-slider/0.1/amp-compare-slider.js
  extensions/amp-compare-slider/0.1/test/test-amp-compare-slider.js
  extensions/amp-compare-slider/amp-compare-slider.md
  gulpfile.js
Owners: @camelburrito,, @lannka, @cramforce,, @dvoytenko,, @jridgewell

respond to review comments
  SUPPORT.md
Owners: @cramforce,, @dvoytenko,, @jridgewell

Report rtv version in errors (#10973)
  src/error.js
Owners: @dvoytenko,, @jridgewell

CODEOWNERS:

* @cramforce, @dvoytenko, @jridgewell
*/*.protoascii @ampproject/validator
ads/* @lannka, @zhouyx
build-system/* @erwinmombay, @cramforce
contributing/* @jrozier
examples/* @camelburrito, @lannka
src/* @dvoytenko, @jridgewell
test/* @ampproject/runtime, @ampproject/validator
validator/* @powdercloud, @Gregable, @honeybadgerdontcare
ads/google/* @ampproject/a4a
extensions/amp-a4a/* @ampproject/a4a
extensions/amp-access/* @dvoytenko
extensions/amp-access-laterpay/* @trodrigues
extensions/amp-accordion/* @camelburrito
extensions/amp-ad/* @zhouyx, @lannka
extensions/amp-ad-network-adsense-impl/* @ampproject/a4a
extensions/amp-ad-network-cloudflare-impl/* @oliy
extensions/amp-ad-network-doubleclick-impl/* @ampproject/a4a
extensions/amp-ad-network-fake-impl/* @ampproject/a4a
extensions/amp-ad-network-gmossp-impl/* @ampproject/a4a
extensions/amp-ad-network-triplelift-impl/* @ampproject/a4a, @szach
extensions/amp-analytics/* @avimehta, @dvoytenko, @lannka
extensions/amp-animation/* @aghassemi, @alanorozco, @dvoytenko
extensions/amp-apester-media/* @mrsufgi
extensions/amp-app-banner/* @aghassemi
extensions/amp-audio/* @aghassemi
extensions/amp-auto-ads/* @tlong2
extensions/amp-bind/* @choumx, @kmh287
extensions/amp-brid-player/* @aghassemi, @DarXector
extensions/amp-brightcove/* @aghassemi, @mister-ben
extensions/amp-call-tracking/* @alanorozco
extensions/amp-carousel/* @camelburrito, @dvoytenko
extensions/amp-crypto-polyfill/* @lannka
extensions/amp-dailymotion/* @zeno, @erwinmombay, @aghassemi
extensions/amp-experiment/* @lannka
extensions/amp-facebook/* @aghassemi
extensions/amp-facebook-comments/* @ymschaap
extensions/amp-facebook-like/* @eduardogoncalves
extensions/amp-font/* @camelburrito
extensions/amp-form/* @aghassemi, @cvializ
extensions/amp-fresh/* @erwinmombay
extensions/amp-fx-flying-carpet/* @jridgewell
extensions/amp-fx-parallax/* @cvializ
extensions/amp-gfycat/* @koshka
extensions/amp-gist/* @levidurfee, @aghassemi
extensions/amp-google-vrview-image/* @dvoytenko
extensions/amp-hulu/* @aghassemi, @unbug
extensions/amp-iframe/* @camelburrito
extensions/amp-image-lightbox/* @aghassemi, @dvoytenko
extensions/amp-imgur/* @techhtml
extensions/amp-instagram/* @aghassemi, @jpettitt, @src-code
extensions/amp-install-serviceworker/* @jridgewell
extensions/amp-izlesene/* @aghassemi, @merty
extensions/amp-jwplayer/* @aghassemi, @pablos1
extensions/amp-kaltura-player/* @aghassemi, @itaykinnrot
extensions/amp-lightbox/* @aghassemi, @muxin
extensions/amp-lightbox-viewer/* @aghassemi, @zhouyx
extensions/amp-live-list/* @erwinmombay
extensions/amp-nexxtv-player/* @aghassemi, @neko-fire
extensions/amp-o2-player/* @aghassemi, @yevheniiminin
extensions/amp-ooyala-player/* @aghassemi, @mityaha
extensions/amp-pinterest/* @kentbrew
extensions/amp-playbuzz/* @buzzdan
extensions/amp-position-observer/* @aghassemi
extensions/amp-reach-player/* @aghassemi, @mikepmtl
extensions/amp-reddit/* @samiamorwas
extensions/amp-selector/* @camelburrito
extensions/amp-share-tracking/* @muxin
extensions/amp-sidebar/* @camelburrito
extensions/amp-social-share/* @aghassemi, @ithinkihaveacat, @RyanCopley
extensions/amp-soundcloud/* @asap
extensions/amp-springboard-player/* @aghassemi, @Em-PredragMilosevic
extensions/amp-sticky-ad/* @zhouyx
extensions/amp-video/* @aghassemi
extensions/amp-viewer-integration/* @chenshay
extensions/amp-vimeo/* @aghassemi
extensions/amp-vine/* @aghassemi, @niallkennedy
extensions/amp-viz-vega/* @aghassemi
extensions/amp-youtube/* @aghassemi
